.title-name{
    padding: 50px;
    color: rgb(44, 21, 173);
}
.container-wrapper{
    padding: 50px;
}

.box-discription{
    color: rgb(44, 21, 173);
}

.message {
    border-radius: 50px;
    margin: 0 15px 10px;
    padding: 15px 20px;
    position: relative;
    font-weight: bold;
}
.message.to {
    background-color: rgb(3, 129, 240);
    color: #fff;
    margin-left: 100px;
    text-align: right;
}
.message.from {
    background-color: rgb(228, 231, 233);
    color: #363636;
    margin-right: 100px;
}
.message.to + .message.to,
.message.from + .message.from {
margin-top: -10px;
}